@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

#minor-txt{
  font-size: 16px;
  color: gray;
  margin-left: 15px;
}

.navbar-nav {
  margin-right: 5%;
}

.nav-item {
  margin: 0px 25px;
}

.nav-link {
  border-bottom: 2px solid transparent;
  transition: 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.nav-link.active {
  border-bottom: 2px solid gray; 
 }

.nav-link:hover {
  border-bottom: 2px solid gray;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.blink {
  animation: blink 1s infinite;
}